html {

}

body {

    font-family: Roboto;
    font-style: normal;

}

h2{
    position: absolute;
    width: 580px;
    height: 70px;
    left: calc(50% - 580px/2);
    top: 110px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    /* or 131% */

    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.0125em;

    color: #2D3A40;
}

.form-group {
    margin-bottom: 1rem;
}

.form-text {
    display: block;
    margin-top: 0.25rem;

    position: absolute;
    width: 280px;
    height: 42px;
    left: calc(50% - 280px/2);
    top: 461px;

    background: #FFFFFF;
    border: 1px solid rgba(116, 130, 150, 0.2);
    box-sizing: border-box;
    border-radius: 3px;
}

.form-geral{

    width: 620px;
    height: 597px;
    left: 410px;
    top: 290px;

}

/* Logo-Voxus */

.voxus-header {
    position: absolute;
    width: 79px;
    height: 16px;
    left: 250px;
    top: 17px;

}